* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

form {
    background-color: rgb(85, 54, 14);
    padding: 1rem;
}

h1 {
    text-align: center;
    padding: 1rem;
    margin:1rem 0, 0, 0;
}

input.textera, label, select{
    display:block;
    margin-bottom: 1rem;
}
