*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #fff; /* shorthand for white */;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700
}

h1 {
    color: darkblue;
    padding: .5rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1em 1em;
}

p {
    padding: 1rem;
}

aside{
    width: 20rem;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    box-sizing: border-box;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 640px;
    left: 125px;
}

footer {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    margin-top: 1em;
    border-top: 1px solid #000
}

/*class selectors*/
.box {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    background-color: #eee;
    color: #333;
}
.indent {
    padding-left: 2em;
}

header {
    display: grid;
    grid-template-columns: 100px 1fr auto;
    align-items: center;
    padding: 1rem;
    background: #d9e6f2;
}

header img {
    width: 80px;
    height: auto;
}

#logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: darkblue;
}

.navigation {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0.5rem;
}

.navigation a {
    color: darkblue
    text-decoration: none;
    font-size: bold;
}

.navigation a:hover {
    color: #0066cc;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    gap: 1rem;
    align-items: center;
}

.adventures-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.adventures-gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.adventures-gallery figure {
    text-align: center;
}

.adventures-gallery figcaption {
    margin-top: 0.5em;
    font-size: 0.9rem;
    color: #555;
}
