*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    padding: .5rem;
}

main {
    max-width: 640px;
    }

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1em 1em;
}

p {
    padding: 1rem;
}

aside{
    width: 20rem;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    box-sizing: border-box;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 485px;px;
    left: 125px;
}

margin-bottom: 1em;{
}


footer {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    margin-top: 1em;
    border-top: 1px solid #000
}

/*class selectors*/
.box {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    background-color: #eee;
    color: #333;
}
.indent {
    padding-left: 2em;
}